$projectBoxBg : #10151D;
$HxGrayDark: #5252522b;
$HxGreen-1: #0FC06B;
$smallLetterSpacing: 0.9px;


.container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}


.middleContainer{
    width: 100%;
    height: 100%;


    .sideBar{
        height: 100%;
        width: 20%;
        background-color: $HxGrayDark;
        // border-top: 1px solid $HxGreen-1;
        display: flex;
        flex-direction: column;

    }
}

.navBarContainer{
    height: 80px;
    // border-bottom: 1px solid $HxGreen-1;
    background-color: $HxGrayDark;
    display: flex;
    align-items: center;
    padding: 0 30px;
    justify-content: space-between;
    font-size: 14px;
    letter-spacing: 0.9px;

}


.logoContainer{

    display: flex;
    align-items: center;
    gap: 15px;


    .logoIcon{
        position: relative;
        height: 40px;
        width: 40px;
        border-radius: 10px;
        overflow: hidden;
    }

    h1{
        font-weight: 300;
        letter-spacing: 1px;

    }
}


.sideBar{
    .siderBarExplorer{
        padding: 20px;

        p{
            letter-spacing: 0.9px;
        }
    }


    .createNewFileButton{
        margin-top: 20px;
        border: 1px solid $HxGreen-1;   
        padding: 5px 20px;  
        border-radius: 20px; 
        letter-spacing: 1px;
        cursor: pointer;
        font-size: 13px;
        display: flex;
        align-items: center;
        gap: 10px;
    }
}
