$projectBoxBg : #10151D;
$HxGrayDark: #3c3b3b2b;
$HxGrayDark-1: rgb(43, 43, 43);
$HxGreen-1: #0FC06B;
$HxGreen-2: #0fc06a81;
$smallLetterSpacing: 0.9px;


.container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}


.middleContainer{
    width: 100%;
    height: 100%;

    display: flex;

    .sideBar{
        height: 100%;
        width: 20%;
        background-color: $HxGrayDark;
        // border-top: 1px solid $HxGreen-1;
        display: flex;
        flex-direction: column;

    }

    .codeEditor{
        width: 100%;
        height: 90vh;
        // background-color: green;
        overflow: hidden;
    }


}

.navBarContainer{
    height: 80px;
    border-bottom: 1px solid $HxGrayDark-1;
    // background-color: $projectBoxBg;
    display: flex;
    align-items: center;
    padding: 0 30px;
    justify-content: space-between;
    font-size: 14px;
    letter-spacing: 0.9px;

}


.logoContainer{

    display: flex;
    align-items: center;
    gap: 15px;


    .logoIcon{
        position: relative;
        height: 29px;
        width: 29px;
        border-radius: 10px;
        overflow: hidden;
    }

    h1{
        font-weight: 300;
        letter-spacing: 1px;

    }
}


.sideBar{
    border-right: 1px solid $HxGrayDark-1;
    .siderBarExplorer{
        padding: 20px;

        p{
            letter-spacing: 0.9px;
        }
    }


    .createNewFileButton{
        margin-top: 20px;
        border: 1px solid $HxGreen-1;   
        padding: 5px 20px;  
        border-radius: 20px; 
        letter-spacing: 1px;
        cursor: pointer;
        font-size: 13px;
        display: flex;
        align-items: center;
        gap: 10px;
    }
}


.filesShowContainer{
    margin-top: 40px;
    border-top:1px solid $HxGreen-1;  
    display: flex;
    flex-direction: column;
    width: 100%;

    .filesContainer{
        margin-top: 20px;
        cursor: pointer;

        div{
            font-weight: 300;
            letter-spacing: 0.8px;
            font-size: 0.85rem;
            padding: 10px;

            &:hover{
                background-color: $HxGreen-2;
            }
        }
        
    }
}

.codeEditor{
    .layoutControls{
        width: 100%;
        height: 50px;
        background-color: $HxGrayDark;

        div{
            display: inline-flex;
            font-weight: 300;
            letter-spacing: 0.8px;
            font-size: 0.85rem;
            padding: 10px;
            cursor: pointer;

            border-bottom: 2px solid $HxGreen-1;  

            &:hover{
                background-color: $HxGreen-2;
            }
        }
    }
}